/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
app/Console
app/Exceptions
app/Http/Middleware
app/Providers
bootstrap/
config/
laravel/
public/
routes/api.php
routes/channels.php
routes/console.php
app/Http/Controllers/Auth
app/Http/Controllers/Controller.php
app/Http/Kernel.php
storage/app/
.idea